@using DragAndDrop.SampleProject.Components.Templates
@using DragAndDrop.SampleProject.Model
@inherits _ContainerTemplate

<div class="panel" style="display:flex;flex-direction:column;width:40%">
    <div class="dropzone @dropClass" style="height:60%;overflow-y:auto"
            ondragover="event.preventDefault();"
            ondragstart="event.dataTransfer.setData('', event.target.id);"
            @ondrop="()=>HandleDrop(ParentPanel.HomePanel.Id)"
            @ondragenter="HandleDragEnter"
            @ondragleave="HandleDragLeave">
        @foreach (var user in base.Users)
        {
            UserColorTheme theme = EvaluateHighlightColor(user);
            <User ColorTheme="@theme" UserModel="@user" Container="this.ParentPanel.HomePanel" />
        }
    </div>

</div>



@code {

    protected override void OnParametersSet()
    {
        base.Users.Clear();
        base.Users.AddRange(this.ParentPanel.Users.Where(x => x.Identifier == this.ParentPanel.HomePanel.Id));
    }
}